<form [formGroup]="aircraftForm" (ngSubmit)="doAddDeparture($event)">
  <label for="name">Name:</label>
  <input id="name" formControlName="name" placeholder="Enter aircraft name">
  <br>
  <label for="type">Aircraft Type</label>
  <select id="type" formControlName="type" required>
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>
  <br>
  <label for="size">Aircraft Size</label>
  <select id="size" formControlName="size" required>
    <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
  </select>

  <br>
  <button type="submit">Add Departure</button>
</form>

