<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<h2>Next Departing Aircraft</h2>
<div *ngIf="nextDeparture!=null">
  <aircraft-detail [aircraft]="nextDeparture"></aircraft-detail>
  <button (click)="flightDeparted($event)">Flight Departed</button>
</div>
<div *ngIf="nextDeparture==null">
  No Aircraft scheduled for departure.
</div>

<br><br><br>

<aircraft-form></aircraft-form>

<br><br><br>

<departure-queue-detail [departingAircraftList]="departingAircraftList"></departure-queue-detail>

<br><br><br>

<button (click)="clearAllDepartures($event)">Clear All Departures</button>
