
<h2>Departure Schedule</h2>

<div *ngFor="let departingAircraft of departingAircraftList">
  <div>
    <li>
      {{departingAircraft.aircraft.name}}, {{departingAircraft.aircraft.type}}, {{departingAircraft.aircraft.size}}, {{departingAircraft.queueTime}}
    </li>
  </div>
</div>
<!--<div *ngIf="departingAircraftList==null">-->
  <!--No Scheduled Departures-->
<!--</div>-->
